In [ ]:
import pandas as pd

In [ ]:
ruta= "/content/titanic.csv"
titanic= pd.read_csv(ruta)
print(titanic.shape)

(891, 12)

In [ ]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Mostramos las filas y las columnas

In [ ]:
print("Dimensiones: ", titanic.shape)

Dimensiones:  (891, 12)

numero de datos

In [ ]:
print("Numero de datos: ", titanic.size)
print("Numero de columnas: " , titanic.columns)
print("Numero de filas: " , titanic.index)
print("Tipo de datos: " , titanic.dtypes)
print("Primeras 5 filas: " , titanic.head(5))
print("Ultmas 5 filas: " , titanic.tail(5))

In [ ]:
titanic.loc[200]

PassengerId                               201
Survived                                    0
Pclass                                      3
Name           Vande Walle, Mr. Nestor Cyriel
Sex                                      male
Age                                      28.0
SibSp                                       0
Parch                                       0
Ticket                                 345770
Fare                                      9.5
Cabin                                     NaN
Embarked                                    S
Name: 200, dtype: object

In [ ]:
titanic.iloc[range(0, titanic.shape[0],2)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
porcentaje_titanic= titanic["Survived"].value_counts()/titanic["Survived"].count()*100
porcentaje_titanic

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [ ]:
#personas que estabn en segunda clase en orden alfabetico
pasajero_segunda = titanic[titanic["Pclass"]==2]['Name'].sort_values()
pasajero_segunda.head(5)

308                                  Abelson, Mr. Samuel
874                Abelson, Mrs. Samuel (Hannah Wizosky)
144                           Andrew, Mr. Edgardo Samuel
518    Angle, Mrs. William A (Florence "Mary" Agnes H...
757                             Bailey, Mr. Percy Andrew
Name: Name, dtype: object

In [ ]:
titanic=titanic.dropna(subset=["Age"]) # elimino los na, y datps no regitrados
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#porcentaje de personas que murieron en casa clase

porcentaje_no_sobrevivientes = titanic.groupby('Pclass')['Survived'].value_counts()
porcentaje_no_sobrevivientes
titanic_por_clase=titanic.groupby('Pclass')['Survived'].value_counts(normalize=True)*100
titanic_por_clase

Pclass  Survived
1       1           65.591398
        0           34.408602
2       0           52.023121
        1           47.976879
3       0           76.056338
        1           23.943662
Name: Survived, dtype: float64

In [ ]:
#edad media de c/hombre y mujer que viejaba por clase
edad_media = titanic.groupby(['Pclass', 'Sex'])['Age'].mean()
edad_media

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64